<h1>
    Campaigns
</h1>

<table>
    <thead>
        <th>Episode</th>
        <th>Action</th>
    </thead>
    <tbody>
        <% @campaigns.each do |campaign| %>
            <tr>
                <td> 
                    <%= campaign.episode %>
                </td>
                <td> 
                    <%= link_to 'View', campaign_path(campaign) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
